on:
  workflow_call:
    inputs:
      repos:
        type: string
    secrets:
      TOKEN:
        required: true
      SLACK_WEBHOOK_URL:
        required: true

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  skip:
    uses: Geode-solutions/actions/.github/workflows/skip-pr.yml@master
    secrets: inherit

  config:
    needs: skip
    if: needs.skip.outputs.pr_found == 'false'
    uses: Geode-solutions/actions/.github/workflows/py-config.yml@master
    secrets: inherit

  test-repository:
    needs: config
    uses: Geode-solutions/actions/.github/workflows/web-test-repository.yml@master
    with:
      repos: ${{ inputs.repos }}
      branch: ${{ github.ref_name }}
      docker: ${{ needs.config.outputs.docker }}
      python: ${{ needs.config.outputs.python }}
      node: ${{ needs.config.outputs.node }}
      integration: false
      browser: false
      cloud: false
      desktop: false
      extension: false
    secrets: inherit
