on:
  workflow_call:
    inputs:
      repos:
        type: string
    secrets:
      TOKEN:
        required: true

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  prepare:
    uses: Geode-solutions/actions/.github/workflows/py-prepare.yml@master
    with:
      branch: ${{ github.event.pull_request.head.ref }}
    secrets: inherit

  checkers:
    needs: prepare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: Geode-solutions/actions/install/checkout@master
        with:
          token: ${{ secrets.TOKEN }}
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - uses: Geode-solutions/actions/get-release@master
        id: wheels
        with:
          repository: ${{ inputs.repos }}
          file: ".whl"
          token: ${{ secrets.TOKEN }}
          branch: ${{ github.event.pull_request.head.ref }}
      - name: Install dependencies
        run: |
          pip install --pre .
          pip install mypy pylint
          wheels=$(echo "${{ steps.wheels.outputs.path }}" | sed 's/\;/\ /g')
          echo "all wheels = $wheels"
          if [ -n "$wheels" ]; then 
            for wheel in $wheels; do
              pip install --pre $wheel
            done
          fi
          pip list
      - uses: dciborow/action-pylint@main
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          glob_pattern: "**/*.py"
          level: "warning"
      - uses: tsuyoshicho/action-mypy@v5
        with:
          github_token: ${{ secrets.github_token }}
          mypy_flags: "--config-file mypy.ini"
          install_types: false
          target: "src"
          fail_level: "warning"
          reporter: github-pr-review
          filter_mode: nofilter

  config:
    needs: prepare
    uses: Geode-solutions/actions/.github/workflows/py-config.yml@master
    secrets: inherit

  test-repository:
    needs: config
    uses: Geode-solutions/actions/.github/workflows/web-test-repository.yml@master
    with:
      repos: ${{ inputs.repos }}
      branch: ${{ github.event.pull_request.head.ref }}
      docker: ${{ needs.config.outputs.docker }}
      python: ${{ needs.config.outputs.python }}
      node: ${{ needs.config.outputs.node }}
      integration: false
      browser: false
      extension: false
      cloud: false
      desktop: false
    secrets: inherit

  semantic-commit:
    needs: prepare
    uses: Geode-solutions/actions/.github/workflows/semantic-commit.yml@master
    secrets: inherit

  release:
    needs: [test-repository, semantic-commit, checkers]
    uses: Geode-solutions/actions/.github/workflows/dev-release.yml@master

  deploy-repository:
    needs: [release, config]
    uses: Geode-solutions/actions/.github/workflows/web-deploy-repository.yml@master
    with:
      repos: ${{ inputs.repos }}
      branch: ${{ github.event.pull_request.head.ref }}
      version: "0.0.0"
      release: ${{ github.head_ref }}-tag
      release_channel: ${{ needs.release.outputs.new_release_channel }}
      upload: false
      python: ${{ needs.config.outputs.python }}
      node: ${{ needs.config.outputs.node }}
      docker: ${{ needs.config.outputs.docker }}
      desktop: false
      extension: false
      cloud: false
    secrets: inherit
