on:
  workflow_call:
    inputs:
      dry_run:
        type: boolean
        default: false
    outputs:
      new_release:
        description: "Whether a new release was published"
        value: ${{ jobs.semantic-release.outputs.new_release }}
      new_version:
        description: "The new version number"
        value: ${{ jobs.semantic-release.outputs.new_version }}
      new_release_channel:
        description: "The new release channel"
        value: ${{ jobs.semantic-release.outputs.new_release_channel }}
    secrets:
      TOKEN:
        required: true

jobs:
  semantic-release:
    runs-on: ubuntu-latest
    outputs:
      new_release: ${{ steps.semantic.outputs.new_release_published }}
      new_version: ${{ steps.semantic.outputs.new_release_version }}
      new_release_channel: ${{ steps.semantic.outputs.new_release_channel }}
    steps:
      - name: Checkout
        uses: Geode-solutions/actions/install/checkout@master
        with:
          token: ${{ secrets.TOKEN }}
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        id: semantic
        with:
          dry_run: ${{ inputs.dry_run }}
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
