on:
  workflow_call:
    inputs:
      repos:
        type: string
      branch:
        type: string
        default: ${{ github.ref_name }}
      docker:
        type: string
        required: true
      python:
        type: string
        required: true
      node:
        type: string
        required: true
      integration:
        type: string
        required: true
      browser:
        type: string
        required: true
      cloud:
        type: string
        required: true
      desktop:
        type: string
        required: true
      microservices:
        type: string
        default: "microservices"
      use_registry:
        type: boolean
        default: false
    secrets:
      TOKEN:
        required: true
      SLACK_WEBHOOK_URL:
        required: true

jobs:
  test-python:
    if: inputs.python == 'true'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Checkout
        uses: Geode-solutions/actions/install/checkout@master
        with:
          token: ${{ secrets.TOKEN }}
          branch: ${{ inputs.branch }}
      - name: Test Python
        uses: Geode-solutions/actions/test/python@master
        with:
          repos: ${{ inputs.repos }}
          token: ${{ secrets.TOKEN }}
          branch: ${{ inputs.branch }}
          use_registry: ${{ inputs.use_registry }}

  test-node:
    if: inputs.node == 'true'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Checkout
        uses: Geode-solutions/actions/install/checkout@master
        with:
          token: ${{ secrets.TOKEN }}
          branch: ${{ inputs.branch }}
      - name: Test Node
        uses: Geode-solutions/actions/test/node@master
        with:
          repos: ${{ inputs.repos }}
          branch: ${{ inputs.branch }}
          token: ${{ secrets.TOKEN }}
          use_registry: ${{ inputs.use_registry }}

  test-integration:
    if: inputs.integration == 'true'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Checkout
        uses: Geode-solutions/actions/install/checkout@master
        with:
          token: ${{ secrets.TOKEN }}
          branch: ${{ inputs.branch }}
      - name: Test Integration
        uses: Geode-solutions/actions/test/integration@master
        with:
          repos: ${{ inputs.repos }}
          branch: ${{ inputs.branch }}
          token: ${{ secrets.TOKEN }}
          microservices: ${{ inputs.microservices }}
          use_registry: ${{ inputs.use_registry }}

  test-browser:
    if: inputs.browser == 'true'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: Checkout
        uses: Geode-solutions/actions/install/checkout@master
        with:
          token: ${{ secrets.TOKEN }}
          branch: ${{ inputs.branch }}
      - name: Test Browser
        uses: Geode-solutions/actions/test/browser@master
        with:
          repos: ${{ inputs.repos }}
          branch: ${{ inputs.branch }}
          token: ${{ secrets.TOKEN }}
          microservices: ${{ inputs.microservices }}
          use_registry: ${{ inputs.use_registry }}

  test-cloud:
    if: inputs.cloud == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: Geode-solutions/actions/install/checkout@master
        with:
          token: ${{ secrets.TOKEN }}
          branch: ${{ inputs.branch }}
      - name: Test Cloud
        uses: Geode-solutions/actions/test/cloud@master
        with:
          repos: ${{ inputs.repos }}
          branch: ${{ inputs.branch }}
          token: ${{ secrets.TOKEN }}
          use_registry: true

  test-desktop:
    if: inputs.desktop == 'true'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-latest]
    steps:
      - name: Checkout
        uses: Geode-solutions/actions/install/checkout@master
        with:
          token: ${{ secrets.TOKEN }}
          branch: ${{ inputs.branch }}
      - name: Test Desktop
        uses: Geode-solutions/actions/test/desktop@master
        with:
          repos: ${{ inputs.repos }}
          branch: ${{ inputs.branch }}
          token: ${{ secrets.TOKEN }}
          use_registry: ${{ inputs.use_registry }}
          microservices: ${{ inputs.microservices }}
          AZURE_KEY_VAULT_URI: ${{ secrets.AZURE_KEY_VAULT_URI }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          AZURE_CERT_NAME: ${{ secrets.AZURE_CERT_NAME }}

  test-docker:
    if: inputs.docker == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: Geode-solutions/actions/install/checkout@master
        with:
          token: ${{ secrets.TOKEN }}
          branch: ${{ inputs.branch }}
      - name: Build docker
        uses: Geode-solutions/actions/build/docker@master
        id: docker
        with:
          tag: test
          license_token: ${{ secrets.TOKEN }}
