on:
  workflow_call:
    inputs:
      repos:
        type: string
      branch:
        type: string
        default: ${{ github.ref_name }}
      version:
        type: string
        required: true
      release:
        type: string
        required: true
      release_channel:
        type: string
        required: true
      docker:
        type: string
        required: true
      python:
        type: string
        required: true
      node:
        type: string
        required: true
      desktop:
        type: string
        required: true
      cloud:
        type: string
        required: true
      upload:
        type: boolean
        default: true
      microservices:
        type: string
        default: "microservices"
      use_registry:
        type: boolean
        default: false
    secrets:
      TOKEN:
        required: true
      SLACK_WEBHOOK_URL:
        required: true
      PYPI_TOKEN:
        required: true

jobs:
  release-python:
    if: inputs.python == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: Geode-solutions/actions/install/checkout@master
        with:
          token: ${{ secrets.TOKEN }}
      - name: Install dependencies
        uses: Geode-solutions/actions/install/python-dependencies@master
        with:
          repos: ${{ inputs.repos }}
          branch: ${{ inputs.branch }}
          token: ${{ secrets.TOKEN }}
          use_registry: ${{ inputs.use_registry }}
      - name: Build
        run: |
          sed -i 's/version = "[0-9]*\.[0-9]*\.[0-9]*\(-rc\.[0-9]*\)\?"/version = "${{ inputs.version }}"/' pyproject.toml
          python3 -m pip install --upgrade build
          python3 -m build
      - name: Upload GH
        run: |
          git config --global --add safe.directory $GITHUB_WORKSPACE
          files="dist/*.whl"
          for file in $files
          do
            echo $file
            counter=0
            for i in 1 2 3 4 5; do gh release upload --clobber --repo $GITHUB_REPOSITORY ${{ inputs.release }} $file && break || counter=$[$counter +1] && sleep 30; done
            echo $counter
            if [ "$counter" -eq "5" ]; then exit 1; fi
          done
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Upload PYPI
        if: inputs.upload
        run: |
          python3 -m pip install twine==6.0.1
          python3 -m twine upload --repository pypi dist/* -u __token__ -p ${{ secrets.PYPI_TOKEN }}

  release-node:
    if: inputs.node == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: Geode-solutions/actions/install/checkout@master
        with:
          token: ${{ secrets.TOKEN }}
      - name: Install dependencies
        uses: Geode-solutions/actions/install/node-dependencies@master
        with:
          repos: ${{ inputs.repos }}
          branch: ${{ inputs.branch }}
          token: ${{ secrets.TOKEN }}
          use_registry: ${{ inputs.use_registry }}
      - name: Build
        id: build
        run: |
          npm --no-git-tag-version --allow-same-version version ${{ inputs.version }}
          npm run build
          npm pack
          package_name=$(jq -r '.name' package.json)
          version=$(jq -r '.version' package.json)
          tarball=$(echo "$package_name" | sed 's/@//' | sed 's/\//-/')-${version}.tgz
          echo "tarball=$tarball" >> $GITHUB_OUTPUT
      - name: Upload GH
        run: |
          git config --global --add safe.directory $GITHUB_WORKSPACE
          counter=0
          for i in 1 2 3 4 5; do gh release upload --clobber --repo $GITHUB_REPOSITORY ${{ inputs.release }} ${{ steps.build.outputs.tarball }} && break || counter=$[$counter +1] && sleep 30; done
          echo $counter
          if [ "$counter" -eq "5" ]; then exit 1; fi
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Upload NPM
        if: inputs.upload
        run: |
          echo "Publishing to NPM...tadadada"
          npm --version
          npm install -g npm@latest
          npm --version
          if [ -n "${{ inputs.release_channel }}" ]; then
            npm publish "${{ steps.build.outputs.tarball }}" --provenance --tag ${{ inputs.release_channel }}
          else
            npm publish "${{ steps.build.outputs.tarball }}" --provenance
          fi
        env:
          NODE_AUTH_TOKEN: ""

  release-desktop:
    if: inputs.desktop == 'true'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-latest]
    steps:
      - name: Checkout
        uses: Geode-solutions/actions/install/checkout@master
        with:
          token: ${{ secrets.TOKEN }}
      - name: Install dependencies
        uses: Geode-solutions/actions/install/node-dependencies@master
        with:
          repos: ${{ inputs.repos }}
          branch: ${{ inputs.branch }}
          token: ${{ secrets.TOKEN }}
          use_registry: ${{ inputs.use_registry }}
      - name: Install Microservices
        uses: Geode-solutions/actions/install/microservices@master
        with:
          repos: ${{ inputs.repos }}
          branch: ${{ inputs.branch }}
          token: ${{ secrets.TOKEN }}
          microservices: ${{ inputs.microservices }}
          use_registry: ${{ inputs.use_registry }}
      - name: Install Azure Sign Tool
        uses: Geode-solutions/actions/install/azure-sign@master
      - name: Package
        run: |
          jq '.version = "${{ inputs.version }}"' package.json > temp && mv temp package.json
          npm run build:microservices
          npm run package
        env:
          AZURE_KEY_VAULT_URI: ${{ secrets.AZURE_KEY_VAULT_URI }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          AZURE_CERT_NAME: ${{ secrets.AZURE_CERT_NAME }}
        shell: bash
      - name: Release
        run: |
          name=$(jq -r '.name' package.json)
          cd release/${{ inputs.version }}
          gh release upload ${{ inputs.release }} $name* latest* --clobber
        env:
          GITHUB_TOKEN: ${{ github.token }}
        shell: bash

  release-docker:
    if: inputs.docker == 'true'
    uses: Geode-solutions/actions/.github/workflows/docker-build-squash-push.yml@master
    with:
      tag: ${{ inputs.upload && github.ref_name || 'test' }}
      upload: ${{ inputs.upload }}
    secrets:
      TOKEN: ${{secrets.TOKEN}}
      LICENSE_TOKEN: ${{secrets.TOKEN}}

  release-cloud:
    if: inputs.cloud == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: Geode-solutions/actions/install/checkout@master
        with:
          token: ${{ secrets.TOKEN }}
      - name: Publish
        uses: netlify/actions/build@master
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}

  notify:
    if: ${{ !failure() && !cancelled() }}
    uses: Geode-solutions/actions/.github/workflows/cpp-deploy-notify.yml@master
    needs: [release-python, release-node, release-docker, release-desktop]
    secrets: inherit
